
jumbotron{
	background-color:#8A2BE2 !important; 
}

.scImage{
	height: 230px;
	width: 80%;
	opacity: 0.8;
}

.scImage:hover{
	opacity: 1.0;
}

.carousel .carousel-inner{
	height: 250px;
	width: 100%; 
	margin: 0px auto;
}

.col-sm-3{
	padding : 30px;
}

