.navbar-default {
    background-color: #3DA8FC;
    border-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: #555555;
}



.scImage{
	height: 260px;
	width: 260px;
}

.sliderImage{
	height: 100%;
	width: 100%;
}